
@media screen and (max-width: 768px) {

    .menuicon, .closeicon {
     display:unset;
    }
    #menu {
         position: fixed;
         left: 0px;
         background: #00000094;
         width: 100%;
         height: 100%;
         top: 0px;
         text-align: left;
         display: none;
    }
    .menu-inner {
         background: #fff5ce;
         height: 100%;
         top: 0px;
         left: 0px;
         width: 70%;
         position: absolute;
         padding: 20px;
         border-right: 2px solid red;
    }
    #menu ul {
         display: block;
         margin-top: 45px;
    }
    #menu ul li {
         margin-bottom:30px;
    }
    
    }
    /**********END HEADER SECTION**********/

header {
	display: flex;
	position: relative;
	background:#ffcb01;
}
.header {
	margin:5px 0px;
	display:flex;
}
.logo {
	max-width:30%;
	min-width:150px;
}
.menu {
	margin:0px auto;
	text-align:center;
}
.menu ul {
	display: flex;
	list-style: none;
	gap: 20px;
	margin:12px 0px 0px 0px;
}
.menu li {
	color:brown;
	font-weight:600;
}
.book ul {
	display: flex;
	list-style: none;
	gap: 20px;
	margin-top:10px;
}
.book a {
	font-size: 14px;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	color: #fff;
	background:red;
}
.menuicon {
	display:none;
}
.closeicon {
	display:none;
	float:right;
	font-size: 28px;
	color: black;
}


@media screen and (max-width: 768px) {

.menuicon, .closeicon {
 display:unset;
}
#menu {
	 position: fixed;
	 left: 0px;
	 background: #00000094;
	 width: 100%;
	 height: 100%;
	 top: 0px;
	 text-align: left;
	 display: none;
}
.menu-inner {
	 background: #fff5ce;
	 height: 100%;
	 top: 0px;
	 left: 0px;
	 width: 70%;
	 position: absolute;
	 padding: 20px;
	 border-right: 2px solid red;
}
#menu ul {
	 display: block;
	 margin-top: 45px;
}
#menu ul li {
	 margin-bottom:30px;
}

}
/**********END HEADER SECTION**********/
/**********START HEADER SECTION**********/
header {
	display: flex;
	position: relative;
	background:#ffcb01;
}
.header {
	margin:5px 0px;
	display:flex;
}
.logo {
	max-width:30%;
	min-width:150px;
}
.menu {
	margin:0px auto;
	text-align:center;
}
.menu ul {
	display: flex;
	list-style: none;
	gap: 20px;
	margin:12px 0px 0px 0px;
}
.menu li {
	color:brown;
	font-weight:600;
}
.book ul {
	display: flex;
	list-style: none;
	gap: 20px;
	margin-top:10px;
}
.book a {
	font-size: 14px;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	color: #fff;
	background:red;
}
.menuicon {
	display:none;
}
.closeicon {
	display:none;
	float:right;
	font-size: 28px;
	color: black;
}

/*For Mobile And Ipad Version*/
